

.nav-bar{
    position: relative;
    height: 8vh;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 
}

.nav{
margin-right: 0vw;
font-family: 'Nunito Sans', sans-serif;
color: white;
font-size: 170%;
text-decoration: none;
}

a {
    text-decoration: none;
}

.logo-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: fit-content;
}

.nav-btn{
    position: relative;
    margin-right: 5vw;
    margin-left: 5vw;
}

.logo {
    width: auto;
        height: 5vh !important;
        /* 1vh smaller than .home-title */
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        transition: 0.2s ease-out;
    margin-left: 0vw;
    margin-right: 0vw;
}
/* Hide popup menu by default */
.nav-popup-menu {
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
    position: absolute;
    top: 8vh;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    color: #222;
    width: 220px;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.08);
    z-index: 1000;
    text-align: center;
}
.nav-popup-menu.active {
    opacity: 1;
    visibility: visible;
}

/* Default: show nav links, hide popup */
.nav-links {
display: flex;
align-items: center;
    gap: 2vw;
}
.nav-btn {
    display: inline-block;
}

@media (max-width: 1166px) {

    .nav-links,
    .nav-btn {
            display: none !important;
    }

        .logo-box {
        cursor: pointer;
        z-index: 1001;
        }

        .nav-popup-menu {
            display: block;
        }
}

@media (min-width: 1167px) {

    .nav-links,
    .nav-btn {
        display: flex !important;
    }
  .nav-popup-menu {
      display: none !important;
  }
}