


/* width */
::-webkit-scrollbar {
    width: 10px;
    z-index: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(21,21,21); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius:50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }